// // 변수 설정
// $primary-100: ;
// $primary-200: ;
// $primary-300: ;
// $primary-400: ;
// $primary-500: ;
// $primary-600: ;

$white: #fff;
$black: #000;
// $red: #d94747;
$default: #111;

// $primary-dis: #8FBBD6;

// $hd-height: 100px;
// $ft-height: 220px;
// $main-height: calc(100vh - $hd-height - $ft-height);


// 반응형 미디어 쿼리
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1280px;
$breakpoint-xxl: 1440px;
