@charset "UTF-8";
@import 'variables';
@import 'mixins';
@import 'fonts';
@import 'reset';
.section {
    display: flex;
    justify-content: center;
    background-color: #111; /* 배경색 설정 */
    color: #f0f0f0; /* 텍스트 색상 설정 */
    padding: 50px; /* 내부 여백 설정 */
    font-family: 'Arial', sans-serif; /* 폰트 설정 */
}

.fp-slidesNav {
    position: fixed; /* 고정 위치 설정 */
    top: 50%; /* 화면 상단에서의 위치 설정 */
    right: 20px; /* 화면 오른쪽에서의 위치 설정 */
    transform: translateY(-50%); /* 세로 중앙 정렬 */
}

.fp-slidesNav-btn {
    background-color: #eeeeee; /* 버튼 배경색 설정 */
    color: #ffffff; /* 버튼 텍스트 색상 설정 */
    width: 10px; /* 버튼 너비 설정 */
    height: 10px; /* 버튼 높이 설정 */
    margin: 5px; /* 버튼 간격 설정 */
    border-radius: 50%; /* 원형 버튼으로 설정 */
}
.intro_wrap {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 100vh;
    position: relative;

    /* 세로 가운데 줄 */
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 60%; /* 첫 번째 컬럼의 너비 */
        width: 1px; /* 세로 줄 두께 */
        height: 100%;
        background-color: #eee; /* 세로 줄 색상 */
        opacity: 0; /* 초기에는 안 보이도록 설정합니다. */
        // transition: opacity 1s ease; /* 투명도에 대한 애니메이션을 추가합니다. */
        animation: slideDown 1s ease forwards;
    }

    /* 가로 가운데 줄 */
    &:after {
        content: '';
        position: absolute;
        top: 50%; /* 첫 번째 2개 행의 높이 */
        left: 0;
        width: 100%;
        height: 1px; /* 가로 줄 두께 */
        background-color: #eee; /* 가로 줄 색상 */
        opacity: 0; /* 초기에는 안 보이도록 설정합니다. */
        // transition: opacity 1s ease; /* 투명도에 대한 애니메이션을 추가합니다. */
        animation: slideLeft 1s ease forwards;
    }

    @keyframes slideDown {
        from {
            transform: translateY(-100%);
            opacity: 0;
        }
        to {
            transform: translateY(0);
            opacity: 0.7;
        }
    }

    @keyframes slideLeft {
        from {
            transform: translateX(-100%);
            opacity: 0;
        }
        to {
            transform: translateX(0);
            opacity: 0.7;
        }
    }
    .intro_wrap.animated {
        opacity: 1;
    }

    .grid1:before,
    .grid1:after {
        /* 그리드 가운데 가로, 세로 줄 스타일 */
        content: '';
        position: absolute;
        background-color: #eee;
        opacity: 0; /* 초기에는 안 보이도록 설정 */
    }

    .grid1 {
        grid-area: 1 / 1 / 3 / 2;
        display: flex;
        align-items: center;
    }
    .grid2 {
        grid-area: 3 / 1 / 4 / 2;
    }
    .grid3 {
        grid-area: 4 / 1 / 5 / 2;
    }
    .grid4 {
        grid-area: 1 / 2 / 2 / 3;
    }
    .grid5 {
        grid-area: 2 / 2 / 3 / 3;
    }
    .grid6 {
        grid-area: 3 / 2 / 5 / 3;
        display: flex;
        align-items: flex-start;
    }

    #name1,
    #name2 {
        padding: 30px;
        font-family: 'Archivo Black';
        font-size: 1000%;
        white-space: nowrap;
    }

    .text {
        display: flex;
        flex-direction: column;
        padding-left: 30px;
    }

    .splitting .char {
        display: inline-block;
        opacity: 0;
        transform: translateY(100%);
        transition: opacity 0.5s, transform 0.5s;
        color: transparent;
        background: linear-gradient(120deg, #fff, #111);
        background-size: 100%;
        -webkit-background-clip: text;
        background-clip: text;
    }

    .slide-up .splitting .char {
        animation: slide-up 0.5s forwards;
    }

    .slide-down .splitting .char {
        animation: slide-down 0.5s forwards;
    }

    @keyframes slide-up {
        from {
            transform: translateY(100%);
            opacity: 0;
        }
        to {
            transform: translateY(0);
            opacity: 1;
        }
    }

    @keyframes slide-down {
        from {
            transform: translateY(0);
            opacity: 1;
        }
        to {
            transform: translateY(100%);
            opacity: 0;
        }
    }

    #job {
        display: flex;
        align-items: flex-end;
        font-size: 36px;
        padding: 10px 0 10px 50px;
        line-height: 1.5;
    }
}
// .profile_wrap {
//     display: flex;
//     flex-direction: row;
//     justify-content: center;
//     .profile_inner {
//         width: 50%;
//         img {
//             height: 400px;
//             opacity: 0.1;
//         }
//     }
// }
.profile_wrap {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
    .profile_inner.left {
        width: 30%;
        display: flex;
        flex-direction: column;
        position: relative;
        .tag {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            line-height: 1.5;
            margin: 0 0 10px;
            background: linear-gradient(120deg, #fff, #111);
            background-repeat: no-repeat;
            background-size: 100%;
            -webkit-background-clip: text;
            -webkit-text-fill-color: rgba(255, 255, 255, 0);
        }
        .tag.fade-in {
            animation: gradientAnimation 2s linear alternate;
        }
        .profile_img {
            display: flex;
            justify-content: center;
            img {
                display: block;
                max-width: 400px;
            }
        }
    }
    .profile_inner.right {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 35%;
        .profile_depth1 {
            height: 100%;
            max-height: 500px;
            display: flex;
            flex-direction: column;
            gap: 32px;
            padding-left: 0;
            color: $white;
            h4 {
                margin: 0 0 20px;
                background: linear-gradient(120deg, #fff, #111);
                -webkit-background-clip: text;
                background-repeat: no-repeat;
                background-size: 80%;
                -webkit-text-fill-color: rgba(255, 255, 255, 0);
                font-size: 22px;
            }
            .profile_depth2 {
                padding: 0;
                li {
                    margin-bottom: 12px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                    span {
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}
.section {
    &.active {
        .portfolio_wrap {
            position: relative;
            width: 80%;
            height: 80vh;
            margin: 0 auto;
            overflow: hidden;
            border-radius: 20px;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: 0.8;
                background-color: rgba(255, 255, 255, 0.2);
                transform: translateX(-100%);
                transition: transform 0.4s;
            }

            &::before {
                transform: translateX(0);
            }

            .slide-cover {
                .slide-img {
                    background-position: bottom;
                }
            }
        }
    }
}
.portfolio_inner {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;

    .slide-cover {
        position: relative;
        width: 60%;
        height: 80%;
        border-radius: 20px;
        overflow: hidden;

        .slide-img {
            display: block;
            background-position: top;
            max-width: 100%;
            width: 100%;
            transition: all 1.5s;
            transition-delay: 0.5s;
            height: 100%;
            background-size: cover;
        }
    }
    .slide-desc {
        h2 {
            margin: 0 0 10px;
            // color: transparent;
            background: linear-gradient(120deg, #fff, #111);
            background-repeat: no-repeat;
            background-size: 80%;
            // animation: gradientAnimation 2s linear alternate; // 애니메이션 적용
            -webkit-background-clip: text;
            -webkit-text-fill-color: rgba(255, 255, 255, 0);
        }
        .fade-in {
            animation: gradientAnimation 2s linear alternate; // 애니메이션 적용
        }
    }
}
@keyframes gradientAnimation {
    0% {
        background-position: -500%; // 애니메이션 시작 위치
    }
    100% {
        background-position: 0%; // 애니메이션 종료 위치
    }
}
.tamburins-d {
    &::before {
        background: url(../../assets/images/slide1.jpg) no-repeat 50% 0;
    }
}
.tamburins-m {
    &::before {
        background: url(../../assets/images/slide2.jpg) no-repeat 50% 0;
    }
}
.woori-d {
    &::before {
        background: url(../../assets/images/slide3.jpg) no-repeat 50% 0;
    }
}
.woori-m {
    &::before {
        background: url(../../assets/images/slide4.jpg) no-repeat 50% 0;
    }
}
.hori {
    &::before {
        background: url(../../assets/images/slide5.jpg) no-repeat 50% 0;
    }
}
.slide-img {
    position: relative;
    overflow: hidden;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: top;
        transform: translateY(0%);
        transition: all 3s ease; /* 마우스 오버 시 애니메이션 효과를 위한 트랜지션 추가 */
        transition-delay: 0.5s;
    }

    &:hover:before {
        background-position: bottom;
        // bottom: 0;
        transform: translateY(0%); /* 마우스 오버 시 배경 이미지를 아래로 이동 */
    }
}

.portfolio_inner .slide-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    width: 30%;
    height: 80%;
    color: #fff;
    margin-bottom: 50px;
}
.portfolio_inner .slide-desc p {
    line-height: 1.8;
}
.portfolio_inner .slide-desc .desc {
    padding: 0px;
}
.portfolio_inner .slide-desc .desc li {
    margin-bottom: 0.625rem;
    line-height: 1.5;
    display: flex;
}
.portfolio_inner .slide-desc .desc li span:nth-child(1) {
    font-weight: 600;
    padding-right: 20px;
}
.portfolio_inner .slide-desc .link {
    margin-top: 20px;
}
.portfolio_inner .slide-desc .link a {
    padding: 8px 16px;
    border-radius: 5px;
    color: #fff;
    font-size: 0.875rem;
    font-weight: 700;
    border: 2px solid;
    border-top-width: 1px;
    border-left-width: 1px;
    transition: all 0.3s;
    position: relative;
    top: 0;
}
.portfolio_inner .slide-desc .link a:hover {
    background-color: #979797;
    border-color: #fff;
    color: #fff;
    top: -5px;
}
#contents_03,
#contents_05 {
    .portfolio_wrap .portfolio_inner .slide-cover {
        width: 30%;
    }
}
#contents_07 {
    display: flex;
    justify-content: center;
    align-items: center;
    .thanks {
        font-size: 1000%;
        font-family: 'Archivo Black';
    }
    .splitting .char {
        display: inline-block;
        opacity: 0;
        transform: translateY(100%);
        transition: opacity 0.5s, transform 0.5s;
        color: transparent;
        background: linear-gradient(120deg, #fff, #111);
        background-size: 100%;
        -webkit-background-clip: text;
        background-clip: text;
    }

    .slide-up .splitting .char {
        animation: slide-up 0.5s forwards;
    }

    .slide-down .splitting .char {
        animation: slide-down 0.5s forwards;
    }

    @keyframes slide-up {
        from {
            transform: translateY(100%);
            opacity: 0;
        }
        to {
            transform: translateY(0);
            opacity: 1;
        }
    }

    @keyframes slide-down {
        from {
            transform: translateY(0);
            opacity: 1;
        }
        to {
            transform: translateY(100%);
            opacity: 0;
        }
    }
}
@media (max-width: 1440px) {
    .section.profile .profile_wrap .left {
        width: 40%;
    }
    .section.profile .profile_wrap .left {
        padding: 0 10px;
    }
}
@media (max-width: 1280px) {
    .intro_wrap {
        grid-template-columns: 3fr 2fr;
    }

    .intro_wrap:before {
        left: calc(60% - 1px); /* 첫 번째 컬럼의 너비에서 가운데로 조정 */
    }

    .intro_wrap:after {
        top: calc(50% - 1px); /* 첫 번째 2개 행의 높이에서 가운데로 조정 */
    }

    #name1,
    #name2 {
        font-size: 700%; /* 폰트 크기 조정 */
    }

    .text {
        padding-left: 70px; /* 텍스트 왼쪽 패딩 조정 */
        font-size: 100px;
    }

    #job {
        font-size: 30px; /* 직업 텍스트 크기 조정 */
    }
    .section.profile .profile_wrap {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }
    .section.profile .profile_wrap .left {
        width: 100%;
        align-items: center;
    }
    .section.profile .profile_wrap .right {
        width: 100%;
    }
    .section.profile .profile_wrap .right .profile_depth1 {
        flex-direction: row;
        gap: 20px;
        justify-content: space-between;
    }
}
