@charset "UTF-8";
.libre-baskerville-regular {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

.libre-baskerville-bold {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}

.libre-baskerville-regular-italic {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: italic;
}

.abril-fatface-regular {
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
}

.sacramento-regular {
  font-family: "Sacramento", cursive;
  font-weight: 400;
  font-style: normal;
}

.coming-soon-regular {
  font-family: "Coming Soon", cursive;
  font-weight: 400;
  font-style: normal;
}

.archivo-black-regular {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* reset */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
button,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

fieldset,
img {
  border: 0 none;
}

dl,
ul,
ol,
menu,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

input,
select,
textarea {
  font-size: 100%;
  vertical-align: middle;
}

button {
  font-size: 100%;
  vertical-align: middle;
  border: 0 none;
  background-color: transparent;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust: none;
}

/* 뷰표트 변환시 폰트크기 자동확대 방지 */
input[type=text], input[type=password], input[type=submit], input[type=search] {
  -webkit-appearance: none;
  border-radius: 0;
}
input:checked[type=checkbox] {
  background-color: #666;
  -webkit-appearance: checkbox;
}

button {
  -webkit-appearance: button;
  border-radius: 0;
}

input[type=button], input[type=submit], input[type=reset], input[type=file] {
  -webkit-appearance: button;
  border-radius: 0;
}
input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #fff inset;
  -webkit-text-fill-color: #111;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

/* 기본 폰트 설정 */
/* mobile */
body {
  font-size: 16px;
  font-family: "Inter", "Pretendard", "Noto Sans KR", "Malgun Gothic", "맑은 고딕", sans-serif;
}

/* desktop */
@media screen and (min-width: 1280px) {
  body {
    font-size: 16px;
  }
}
a {
  text-decoration: none;
}
a:active, a:hover, a:visited {
  text-decoration: none;
}
a:visited, a:link {
  color: #111;
}

address,
caption,
cite,
code,
dfn,
em,
var {
  font-style: normal;
  font-weight: normal;
}

hr {
  display: none;
}

input[type=password] {
  font-family: "Inter", "Pretendard", "Noto Sans KR", "Malgun Gothic", "맑은 고딕", sans-serif;
}

#skip {
  position: relative;
  z-index: 3000;
}
#skip a {
  position: absolute;
  top: -35px;
  left: 0;
  right: 0;
  display: inline-block;
  padding: 7px 10px 5px;
  background: #333;
  color: #fff;
  text-decoration: none;
  text-align: center;
  opacity: 0;
}
#skip a:focus {
  top: 0;
  opacity: 1;
  z-index: 1000;
}

/* 이미지 스프라이트 */
.img-g {
  display: inline-block;
  overflow: hidden;
  background: url(../../images/comm/img-comm.png) no-repeat;
  vertical-align: top;
}

/* 이미지 */
/* global */
.ir-pm {
  display: block;
  overflow: hidden;
  font-size: 0px;
  line-height: 0;
  text-indent: -9999px;
}

/* 사용된 이미지내 의미있는 텍스트의 대체텍스트를 제공할때 */
.ir-wa {
  display: block;
  overflow: hidden;
  position: relative;
  z-index: -10;
  width: 100%;
  height: 100%;
}

/* 중요한 이미지 대체텍스트로 이미지off시에도 대체 텍스트를 보여주고자 할때 */
.blind,
caption,
legend {
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -9999px;
}

/* 대체텍스트가 아닌 접근성을 위한 숨김텍스트를 제공할때 */
.f_l {
  float: left;
}

.f_r {
  float: right;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.tbl {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 테이블 초기화 */
.clearfix {
  display: block;
  overflow: visible;
  width: auto;
  clear: both;
  zoom: 1;
}
.clearfix:after {
  display: block;
  visibility: hidden;
  height: 0;
  font-size: 0;
  clear: both;
  content: "";
}

.section {
  display: flex;
  justify-content: center;
  background-color: #111; /* 배경색 설정 */
  color: #f0f0f0; /* 텍스트 색상 설정 */
  padding: 50px; /* 내부 여백 설정 */
  font-family: "Arial", sans-serif; /* 폰트 설정 */
}

.fp-slidesNav {
  position: fixed; /* 고정 위치 설정 */
  top: 50%; /* 화면 상단에서의 위치 설정 */
  right: 20px; /* 화면 오른쪽에서의 위치 설정 */
  transform: translateY(-50%); /* 세로 중앙 정렬 */
}

.fp-slidesNav-btn {
  background-color: #eeeeee; /* 버튼 배경색 설정 */
  color: #ffffff; /* 버튼 텍스트 색상 설정 */
  width: 10px; /* 버튼 너비 설정 */
  height: 10px; /* 버튼 높이 설정 */
  margin: 5px; /* 버튼 간격 설정 */
  border-radius: 50%; /* 원형 버튼으로 설정 */
}

.intro_wrap {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100vh;
  position: relative;
  /* 세로 가운데 줄 */
  /* 가로 가운데 줄 */
}
.intro_wrap:before {
  content: "";
  position: absolute;
  top: 0;
  left: 60%; /* 첫 번째 컬럼의 너비 */
  width: 1px; /* 세로 줄 두께 */
  height: 100%;
  background-color: #eee; /* 세로 줄 색상 */
  opacity: 0; /* 초기에는 안 보이도록 설정합니다. */
  animation: slideDown 1s ease forwards;
}
.intro_wrap:after {
  content: "";
  position: absolute;
  top: 50%; /* 첫 번째 2개 행의 높이 */
  left: 0;
  width: 100%;
  height: 1px; /* 가로 줄 두께 */
  background-color: #eee; /* 가로 줄 색상 */
  opacity: 0; /* 초기에는 안 보이도록 설정합니다. */
  animation: slideLeft 1s ease forwards;
}
@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 0.7;
  }
}
@keyframes slideLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 0.7;
  }
}
.intro_wrap .intro_wrap.animated {
  opacity: 1;
}
.intro_wrap .grid1:before,
.intro_wrap .grid1:after {
  /* 그리드 가운데 가로, 세로 줄 스타일 */
  content: "";
  position: absolute;
  background-color: #eee;
  opacity: 0; /* 초기에는 안 보이도록 설정 */
}
.intro_wrap .grid1 {
  grid-area: 1/1/3/2;
  display: flex;
  align-items: center;
}
.intro_wrap .grid2 {
  grid-area: 3/1/4/2;
}
.intro_wrap .grid3 {
  grid-area: 4/1/5/2;
}
.intro_wrap .grid4 {
  grid-area: 1/2/2/3;
}
.intro_wrap .grid5 {
  grid-area: 2/2/3/3;
}
.intro_wrap .grid6 {
  grid-area: 3/2/5/3;
  display: flex;
  align-items: center;
}
.intro_wrap #name1,
.intro_wrap #name2 {
  padding: 30px 0;
  font-size: 160px;
  font-family: "Archivo Black";
  white-space: nowrap;
}
.intro_wrap .text {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
}
.intro_wrap .splitting .char {
  display: inline-block;
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 0.5s, transform 0.5s;
  color: transparent;
  background: linear-gradient(270deg, #fff, #a2affe);
  -webkit-background-clip: text;
  background-clip: text;
}
.intro_wrap .slide-up .splitting .char {
  animation: slide-up 0.5s forwards;
}
.intro_wrap .slide-down .splitting .char {
  animation: slide-down 0.5s forwards;
}
@keyframes slide-up {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-down {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(100%);
    opacity: 0;
  }
}
.intro_wrap #job {
  display: flex;
  align-items: flex-end;
  font-size: 40px;
  padding: 10px 0;
}

.profile_wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.profile_wrap .profile_inner {
  width: 50%;
}
.profile_wrap .profile_inner img {
  height: 400px;
  opacity: 0.1;
}

.portfolio_wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Libre Baskerville";
}
.portfolio_wrap .rolling {
  display: block;
}
.portfolio_wrap .front-wrap .container .sec.functions .dim-trigger .mobile-rolling {
  display: none;
}
.portfolio_wrap .rolling.cage {
  height: 100%;
  position: relative;
}
.portfolio_wrap .rolling .rolling-area {
  width: 100%;
}
.portfolio_wrap .rolling .rolling-area .txt-obj {
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 3;
}
.portfolio_wrap .rolling .rolling-area .txt-obj.fix {
  touch-action: none;
}
.portfolio_wrap .rolling .rolling-area .txt-obj .wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}
.portfolio_wrap .rolling .rolling-area .txt-obj .inner-col {
  flex: 1;
}
.portfolio_wrap .rolling .rolling-area .txt-obj .title {
  margin-right: 2vw;
  opacity: 0;
  transition: all 0.8s ease;
  transform: translateY(40px);
  position: relative;
}
.portfolio_wrap .rolling .rolling-area .txt-obj .title.visible {
  opacity: 1;
  transform: translateX(0);
  transition-delay: 0.2s;
}
.portfolio_wrap .rolling .rolling-area .txt-obj.vibe-player .title {
  margin-top: -5vw;
}
.portfolio_wrap .rolling .rolling-area .txt-obj .title h4 {
  display: inline-block;
  margin-bottom: 16px;
  font-size: 4vw;
  font-weight: 600;
  line-height: normal;
  color: #fff;
}
.portfolio_wrap .rolling .rolling-area .txt-obj .title p {
  font-size: 1.4vw;
  font-weight: 400;
  line-height: 1.55;
  color: #ccc;
}
.portfolio_wrap .rolling .rolling-area .info-tap {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-between;
  margin-left: 30vw;
  opacity: 0;
  transition: all 0.8s ease;
  transform: translateY(40px);
  position: relative;
}
.portfolio_wrap .rolling .rolling-area .music-ai .info-tap {
  padding-top: 5vw;
}
.portfolio_wrap .rolling .rolling-area .vibe-exclusive .info-tap {
  padding-top: 3vw;
}
.portfolio_wrap .rolling .rolling-area .info-tap.visible {
  opacity: 1;
  transform: translateX(0);
  transition-delay: 0.4s;
}
.portfolio_wrap .rolling .rolling-area .info-tap .roll-tab {
  display: block;
  margin-bottom: 3.1vw;
}
.portfolio_wrap .rolling .rolling-area .info-tap .roll-tab .inner-tit {
  display: inline-block;
  margin-bottom: 0.8vw;
  position: relative;
  font-size: 1.3vw;
  font-weight: 600;
  line-height: normal;
  color: #999;
  text-align: left;
  transition: 0.3s;
}
.portfolio_wrap .rolling .rolling-area .info-tap .roll-tab:hover .inner-tit {
  color: #fff;
}
.portfolio_wrap .rolling .rolling-area .info-tap .roll-tab .inner-tit::before {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  position: absolute;
  bottom: -0.2vw;
  left: 0;
  background-color: #ff0050;
  transition: 0.3s;
}
.portfolio_wrap .rolling .rolling-area .info-tap .roll-tab p {
  text-align: left;
  font-size: 1.1vw;
  line-height: 1.44;
  color: #888;
  transition: 0.3s;
}
.portfolio_wrap .rolling .rolling-area .info-tap .roll-tab:hover p {
  color: #fff;
}
.portfolio_wrap .rolling .rolling-area .info-tap .roll-tab.active .inner-tit {
  color: #ff0050;
}
.portfolio_wrap .rolling .rolling-area .info-tap .roll-tab.active:hover .inner-tit {
  color: #ff0050;
}
.portfolio_wrap .rolling .rolling-area .info-tap .roll-tab.active .inner-tit::before {
  width: 100%;
}
.portfolio_wrap .rolling .rolling-area .info-tap .roll-tab.active p {
  color: #fff;
}
.portfolio_wrap .rolling .rolling-area .info-tap .roll-tab.active:hover p {
  color: #fff;
}
.portfolio_wrap .rolling .rolling-area .device-obj-wrap {
  display: block;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 50%;
  bottom: auto;
  transform: translate(-50%, 0);
  z-index: 2;
}
.portfolio_wrap .rolling .rolling-area .device-obj-wrap .device-obj {
  display: block;
  margin: 0 auto;
  width: 30.2vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}
.portfolio_wrap .rolling .rolling-area .device-obj-wrap .device-obj.one {
  z-index: 1;
}
.portfolio_wrap .rolling .rolling-area .device-obj-wrap .device-obj.two {
  z-index: 2;
}
.portfolio_wrap .rolling .rolling-area .device-obj-wrap .device-obj.three {
  z-index: 3;
}
.portfolio_wrap .rolling .rolling-area .device-obj-wrap .device-obj.on {
  visibility: visible;
  opacity: 1;
}
.portfolio_wrap .rolling .rolling-area .device-obj-wrap .device-obj > div {
  display: block;
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45%);
  transition: 0.3s;
  visibility: hidden;
  opacity: 0;
}
.portfolio_wrap .rolling .rolling-area .device-obj-wrap .device-obj > div img {
  width: 450px;
}
.portfolio_wrap .rolling .rolling-area .device-obj-wrap .device-obj > div.active {
  visibility: visible;
  opacity: 1;
}
.portfolio_wrap .rolling .rolling-area .device-obj-wrap.active {
  position: fixed;
}
.portfolio_wrap .rolling .rolling-area .device-obj-wrap.finish {
  position: absolute;
  bottom: 0;
  top: auto;
}/*# sourceMappingURL=comm.css.map */